* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #242222;
}

::-webkit-scrollbar-thumb{
  background: rgb(161, 161, 161);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover{
  background-image: linear-gradient(#131313, #696969);
  border-radius: 25px;
}

