/*button*/
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/*carousel*/
.main-slide{
  padding-top: 30px;
}

.carousel .slider-wrapper{
 width: 100%;
}

.carousel .thumb{
  max-width: 100%;
  height: 40px;
}

.carousel{
  text-align: center;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
}




html, body {
  height: 100%;
}

.jumbotron.vertical-center {
  margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
  background: #333131;
}

.vertical-center {
  min-height: 100%;  /* Fallback for vh unit */
  min-height: 10vh; /* You might also want to use
                        'height' property instead.
                        
                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.
  
                        In this case the parent of '.vertical-center'
                        is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

/*try*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@700;900&display=swap');
.project{
    background: #191919;
}

.list{
    padding-left: 50px;
    color: white;
}

img.project__img{
    border-radius: 10px;
    width: 100%;
}
h1.project__heading{
    margin-bottom: 10px;
    font-weight: 700;
    text-align: start;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}
p.project__text{
    color: white;
    text-align: justify;
}
button.project.btn.pointer {
    text-transform: capitalize;
    width: 195px;
    height: 55px;
    font-size: 18px;
    transition: .4s ease;
}

.colProj__2 {
    max-width: 100%;
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
  }

  .row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: flex-start;
    justify-content: center;
  }
  .container{
    width: 92%;
    margin: 0px auto;
  }

/* RESPONSIVE */
@media only screen and (max-width: 912px){
    h1.project__heading{
        max-width: 100%;
        margin-bottom: 10px;
        font-weight: 700;
        font-family: 'Bebas Neue', cursive;
        font-family: 'Poppins', sans-serif;
        font-size: 55px;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        display: block;
    }
    .col__2 {
        max-width: 100%;
        display: block;
        padding: 20px;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-content: center;

      }
    p.project__text{
        color: white;
    }
    img.project__img{
        border-radius: 10px;
        width: 800px;
        height: auto;
    }
    .row{
        display: block;
        width: 100%;
        flex-wrap: wrap;
        overflow: hidden;
        align-items: flex-start;
        justify-content: center;
      }

}

@media only screen and (max-width: 820px){
    h1.project__heading{
        max-width: 100%;
        margin-bottom: 10px;
        font-weight: 700;
        font-family: 'Bebas Neue', cursive;
        font-family: 'Poppins', sans-serif;
        font-size: 50px;
        text-align: center;
        justify-content:flex-start;
        flex-direction: column;
        display: block;
    }
    .col__2 {
        max-width: 100%;
        display: block;
        padding: 20px;
        justify-content: center;
        flex-direction: column;
        text-align:start;
        align-content: center;

      }

    p.project__text{
        color: white;
    }
    img.project__img{
        border-radius: 10px;
        width: 720px;
        height: auto;
    }
    .row{
        display: block;
        width: 100%;
        flex-wrap: wrap;
        overflow: hidden;
        align-items: flex-start;
        justify-content: center;
      }

}
@media only screen and (max-width: 768px){
    h1.project__heading{
        max-width: 100%;
        margin-bottom: 10px;
        font-weight: 700;
        font-family: 'Bebas Neue', cursive;
        font-family: 'Poppins', sans-serif;
        font-size: 50px;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        display: block;
    }
    .col__2 {
        max-width: 100%;
        display: block;
        padding: 20px;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-content: center;

      }
    img.project__img{
        border-radius: 10px;
        width: 670px;
        height: auto;
    }
    p.project__text{
        color: white;
    }
    .row{
        display: block;
        width: 100%;
        flex-wrap: wrap;
        overflow: hidden;
        align-items: flex-start;
        justify-content: center;
      }

}
@media only screen and (max-width: 540px){
    h1.project__heading{
        max-width: 100%;
        margin-bottom: 10px;
        font-weight: 700;
        font-family: 'Bebas Neue', cursive;
        font-family: 'Poppins', sans-serif;
        font-size: 45px;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        display: block;
    }
    .carousel .thumb{
        max-width: 10%;
        height: 25px;
      }
    .col__2 {
        max-width: 100%;
        display: block;
        padding: 20px;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-content: center;

      }
    img.project__img{
        border-radius: 10px;
        width: 460px;
        height: auto;
    }
    p.project__text{
        color: white;
    }
    .row{
        display: block;
        width: 100%;
        flex-wrap: wrap;
        overflow: hidden;
        align-items: flex-start;
        justify-content: center;
      }

}
@media only screen and (max-width: 414px){
    h1.project__heading{
        max-width: 100%;
        margin-bottom: 10px;
        font-weight: 700;
        font-family: 'Bebas Neue', cursive;
        font-family: 'Poppins', sans-serif;
        font-size: 69px;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        display: block;
    }
    .col__2 {
        max-width: 100%;
        display: block;
        padding: 20px;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-content: center;

      }
    img.project__img{
        border-radius: 10px;
        width:340px;
        height: auto;
    }
    p.project__text{
        color: white;
    }
    .row{
        display: block;
        width: 100%;
        flex-wrap: wrap;
        overflow: hidden;
        align-items: flex-start;
        justify-content: center;
      }

}
@media only screen and (max-width: 393px){
    h1.project__heading{
        max-width: 100%;
        margin-bottom: 10px;
        font-weight: 700;
        font-family: 'Bebas Neue', cursive;
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        display: block;
    }
    .col__2 {
        max-width: 100%;
        display: block;
        padding: 20px;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-content: center;

      }
    img.project__img{
        border-radius: 10px;
        width:325px;
        height: auto;
    }
    p.project__text{
        color: white;
    }
    .row{
        display: block;
        width: 100%;
        flex-wrap: wrap;
        overflow: hidden;
        align-items: flex-start;
        justify-content: center;
      }

}
@media only screen and (max-width: 390px){
    h1.project__heading{
        max-width: 100%;
        margin-bottom: 10px;
        font-weight: 700;
        font-family: 'Bebas Neue', cursive;
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        display: block;
    }
    .col__2 {
        max-width: 100%;
        display: block;
        padding: 20px;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-content: center;

      }
    img.project__img{
        border-radius: 10px;
        width:320px;
        height: auto;
    }
    p.project__text{
        color: white;
    }
    .row{
        display: block;
        width: 100%;
        flex-wrap: wrap;
        overflow: hidden;
        align-items: flex-start;
        justify-content: center;
      }

}

@media only screen and (max-width: 375px){
    h1.project__heading{
        max-width: 100%;
        margin-bottom: 10px;
        font-weight: 700;
        font-family: 'Bebas Neue', cursive;
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        display: block;
    }
    .col__2 {
        max-width: 100%;
        display: block;
        padding: 20px;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-content: center;

      }
    img.project__img{
        border-radius: 10px;
        width:307px;
        height: auto;
    }
    p.project__text{
        color: white;
    }
    .row{
        display: block;
        width: 100%;
        flex-wrap: wrap;
        overflow: hidden;
        align-items: flex-start;
        justify-content: center;
      }

}

@media only screen and (max-width: 360px){
    h1.project__heading{
        max-width: 100%;
        margin-bottom: 10px;
        font-weight: 700;
        font-family: 'Bebas Neue', cursive;
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        display: block;
    }
    .col__2 {
        max-width: 100%;
        display: block;
        padding: 20px;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-content: center;

      }
    img.project__img{
        border-radius: 10px;
        width:295px;
        height: auto;
    }
    p.project__text{
        color: white;
    }
    .row{
        display: block;
        width: 100%;
        flex-wrap: wrap;
        overflow: hidden;
        align-items: flex-start;
        justify-content: center;
      }

}

@media only screen and (max-width: 280px){
    h1.project__heading{
        max-width: 100%;
        margin-bottom: 10px;
        font-weight: 700;
        font-family: 'Bebas Neue', cursive;
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        display: block;
    }
    .carousel .thumb{
        max-width: 10%;
        height: 15px;
      }
    .col__2 {
        max-width: 100%;
        display: block;
        padding: 20px;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-content: center;

      }
    img.project__img{
        border-radius: 10px;
        width: 220px;
        height: auto;
    }
    p.project__text{
        color: white;
    }
    .row{
        display: block;
        width: 100%;
        flex-wrap: wrap;
        overflow: hidden;
        align-items: flex-start;
        justify-content: center;
      }

}

